<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/general/head'); %>
    <link rel="stylesheet" href="/general/css/boughtProducts.css">
</head>
<body>

<header>
    <%- include('../../partials/general/header'); %>
</header>

<main>
  <div>
    <h1>Istoric Comenzi</h1>
  </div>


  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% products.forEach(function(product) { %>
      <div class="col">
        <div class="card h-100">
          <img src="/images/pantof.jpeg" class="card-img-top" alt="Product Image">
          <div class="card-body text-center">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.price %></p>
            <a href="#" class="btn btn-primary">Adaugă în Coș</a>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</main>

<%- include('../../partials/general/footer'); %>

</body>
</html>
